.container {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  width: 100%;
}

.numberOfPeople {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 12px;
}

.inputWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 8px;
}

.subTitle {
  font-size: 14px;
  font-weight: 400;
  color: #A9A9A9;
}

.borderBottom {
  border-bottom: 1px solid #F0F0F0;
  padding-bottom: 16px;
}